<style>
#heading{
	text-align: center;
}
* {
  box-sizing: border-box;
}
/*div id for content 1*/
#side1{
	position: relative;
	left:100px;
	background-color:grey;
	padding: 10px;
	border: 5px solid black;
	box-sizing: border-box;
	margin-right: auto;
	width:25%

}
/*div id for content 2*/
#side2{
	position: relative;
	top:-255px;
	left: 500px;
	background-color:grey;
	padding: 10px;
	border: 5px solid black;
	box-sizing: border-box;
	width:25%;
}
/*div id for content 3*/
#side3{
	position: relative;
	top:-515px;
	left:900px;
	background-color:grey;
	padding: 10px;
	border: 5px solid black;
	box-sizing: border-box;
	width:25%
}
#content,#content2,#content3{
background-color: grey;
}
/*div for title "chicken"*/
#c1{
	border:2px solid black;
	box-sizing: border-box;
	text-align: right;
	margin: 10px;
	padding:10px;
	background-color: lightpink;
}
/*div for title "beef"*/
#c2{
	border:2px solid black;
	box-sizing: border-box;
	text-align: right;
	margin: 10px;
	padding:10px;
	background-color: maroon;
}
/*div for title "sushi"*/
#c3{
	border:2px solid black;
	box-sizing: border-box;
	text-align: right;
	margin: 10px;
	padding:10px;
	background-color: lightyellow;
}
/*row width for whole desktop*/
.temp{
	width: 100%;
}
/*for desktop*/
@media (min-width: 992px) 
{
	.d1,.d2,.d3{
		 float: left;
    border: 1px solid black;
	}
}
.d1{
	width: 33.33%;
}
.d2{
	width: 33.33%
}
.d3{
width: 33.33;
}
/*for tablets*/
@media (min-width: 768px) and (max-width: 991px){
	.temp{
		width: 50%;
	}
.d11,.d22,.d33{
	float: left;
	border: 1px solid black;
}
.d11{
	width: 25%;
}
.d22{
	width: 25%;
}
.d33{
	width: 50%;
}
/*for mobiles*/
@media(max-width:767px)
{
	.temp{
		width: 25%;

	}
	.dm1,.dm2,.dm3{
		float: left;
		border: 1px solid black;

	}
	.dm1{
		width:12%;
		height: 20px;
	}
	.dm2{
		width: 12%;

	}
	.dm3{
		width: 25%;
	}
}

</style>
